snippet interview
  Date: `strftime("%Y-%m-%d")`
  Name: ${0}
  Title: ${1}
  Org:  ${2}
  Email: ${3}@${4}
  Phone:
  Groundrules (unless otherwise noted): On the record / Background / Off the record
  Referred by:
  ---------------
