snippet interview
  Date:   `strftime("%Y-%m-%d")`
  Name:   ${1}
  Title:  ${2}
  Org:    ${3}
  Email:  ${4}@${5}
  Phone:
  Groundrules: On / Bg / Off
  Referred by:
  --------------------------

  ${6}
